<header>
    <% if current_user %>
    <p><%= link_to "ホーム", root_path%></p>
    <p>こんにちわ、<%current_user.name %></p>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "サインイン", new_user_session_path %>
    <%= link_to "ユーザ登録", new_user_registration_path %>
   
    <% end %>
    <hr>
</header>
<h1>Home Page</h1>
<% if current_user %>
 <%= link_to "本一覧をみる", books_path%>

<% end %>
